<section>
    <!-- main content start -->
    <div class="main-content">

        <!-- content -->
        <div class="container-fluid content-top-gap">

            <!-- breadcrumbs -->
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb my-breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Theatre Owner Details</li>
                </ol>
            </nav>
            <!-- //breadcrumbs -->

            <section class="pricing">
                <div class="card card_border mb-5">
                    <div class="cards__heading">
                        <h3>Edit Theatre Owner Details</h3>
                    </div>
                    <div class="card-body">
                        <div class="px-2 mb-4">
                            <div class="row justify-content-center">
                                <div class="col-md-8">
                                    <form action="/admin/edit-owner" method="POST">
                                        <div class="form-group row" hidden>
                                            <div class="col-md-3 text-md-right">
                                                <label for="ownerId">Owner ID</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" name="ownerId" value="{{owner._id}}" required class="form-control"
                                                    id="ownerId">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3 text-md-right">
                                                <label for="ownerName">Owner Name</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" name="ownerName" value="{{owner.ownerName}}" required class="form-control"
                                                    id="ownerName">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3 text-md-right">
                                                <label for="theatreName">Theatre Name</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" name="theatreName" value="{{owner.theatreName}}" required class="form-control"
                                                    id="theatreName">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3 text-md-right">
                                                <label for="emailId">Email address</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="email" name="email" value="{{owner.email}}" required class="form-control" id="emailId">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3 text-md-right">
                                                <label for="phoneNumber">Phone Number</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="tel" name="phoneNumber" value="{{owner.phoneNumber}}" required class="form-control"
                                                    id="phoneNumber">
                                            </div>
                                        </div>
                                        <button type="submit"
                                            class="btn btn-success float-right rounded-pill px-5">Submit</button>
                                        <a href="/admin/theater-management" type="submit"
                                            class="btn btn-danger float-right rounded-pill px-5 mr-3">Cancel</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- //content -->

    </div>
    <!-- main content end-->
</section>