<script>
    $(document).ready(() => {
        setActiveTab('theatre-management-tab');
    });
</script>
<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Overview</span>
            <h3 class="page-title">Theatre Overview</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <div class="card card-small mb-4">
        <div class="card-header border-bottom">
            <div class="row align-items-center">
                <div class="col-md-2 p-5 p-md-3">
                    <img src="{{#if owner.ownerPic}}/images/theatre/{{owner._id}}.jpg{{else}}/images/theatre/theatre-logo.png{{/if}}" class="img-fluid" alt="">
                </div>
                <div class="col-md-4">
                    <h6 class="mb-3 text-secondary">Theatre</h6>
                    <h4>{{owner.theatreName}}</h4>
                </div>
                <div class="col-md-3">
                    <h6 class="mb-3 text-secondary">Owner</h6>
                    <h4>{{owner.ownerName}}</h4>
                </div>
                <div class="col-md-3">
                    <h6 class="mb-3 text-secondary">Date Created</h6>
                    <h4>{{#parseDate owner.dateCreated}}{{/parseDate}}</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Small Stats Blocks -->
    <div class="row">
        <div class="col-lg col-md-6 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Shows</span>
                            <h6 class="stats-small__value count my-3">{{totalShows}}</h6>
                        </div>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-1"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg col-md-6 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Screens</span>
                            <h6 class="stats-small__value count my-3">{{totalScreens}}</h6>
                        </div>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-2"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg col-md-4 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Bookings</span>
                            <h6 class="stats-small__value count my-3">{{totalBookings}}</h6>
                        </div>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-3"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg col-md-4 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Paid Bookings</span>
                            <h6 class="stats-small__value count my-3">{{paidBookings}}</h6>
                        </div>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-4"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg col-md-4 col-sm-12 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Unpaid Bookings</span>
                            <h6 class="stats-small__value count my-3">{{unpaidBookings}}</h6>
                        </div>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-5"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- End Small Stats Blocks -->
    <div class="row">
        <!-- Users Stats -->
        <div class="col-lg-8 col-md-12 col-sm-12 mb-4">
            <div class="card card-small">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Booking</h6>
                </div>
                <div class="card-body pt-0">
                    <canvas height="130" style="max-width: 100% !important;" class="blog-overview-users"></canvas>
                </div>
            </div>
        </div>
        <!-- End Users Stats -->
        <!-- Users By Device Stats -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card card-small h-100">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Booking by status</h6>
                </div>
                <div class="card-body d-flex py-0">
                    <canvas height="220" class="blog-users-by-device m-auto"></canvas>
                </div>
            </div>
        </div>
        <!--datas for graph -->
        <div id="totalOrders" hidden>{{totalBookings}}</div>
        <div id="totalPaidOrders" hidden>{{paidBookings}}</div>
        <div id="currentMonthBookings" hidden>{{currentMonthBookings}}</div>
        <div id="pastMonthBookings" hidden>{{pastMonthBookings}}</div>
        <!--Emd datas for graph -->
        <!-- End Users By Device Stats -->
    </div>
</div>
<script src="/assets/js/app/app-blog-overview.1.1.0.js"></script>