<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Overview</span>
            <h3 class="page-title">Users Management</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-small mb-4 p-3">
                <div class="card-header border-bottom">
                    <div class="row">
                        <h6 class="m-0">Users</h6>
                    </div>
                </div>
                <div class="card-body p-0 pb-3 text-center">
                    <table class="table table-responsive-sm mb-0" id="dataTable">
                        <thead class="bg-light">
                            <tr>
                                <th scope="col" class="border-0">#</th>
                                <th scope="col" class="border-0">Profile Pic</th>
                                <th scope="col" class="border-0">Name</th>
                                <th scope="col" class="border-0">Email</th>
                                <th scope="col" class="border-0">Date of Join</th>
                                <th scope="col" class="border-0">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each userData}}
                            <tr id="{{this._id}}">
                                <td scope="row" class="serialNumber"></td>
                                <th>
                                    <img src="{{#if this.profilePic}}{{this.profilePic}}{{else}}/images/user/profile.png{{/if}}"
                                        onerror=this.src="/images/user/profile.png" alt=""
                                        style="height: 3rem !important;">
                                </th>
                                <td>{{this.name}}</td>
                                <td>{{this.email}}</td>
                                <td>{{#parseDate this.joinDate}}{{/parseDate}}</td>
                                <td>
                                    <div class="row justify-content-center">
                                        <button class="btn btn-danger"
                                            onclick="deleteUser(event, '{{this._id}}', '{{this.name}}')">Delete</button>
                                        {{#if this.blocked}}
                                        <button class="btn btn-warning mx-2 my-2 my-sm-0"
                                            onclick="unblockUser(event, '{{this._id}}', '{{this.name}}')">Unblock</button>
                                        {{else}}
                                        <button class="btn btn-info mx-2 my-2 my-sm-0"
                                            onclick="blockUser(event, '{{this._id}}', '{{this.name}}')">Block</button>
                                        {{/if}}
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>