<header>
    <nav id="navbar-main" aria-label="Primary navigation"
        class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light">
        <div class="container position-relative">
            <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-lg-4" href="/">
                <h5 class="m-0 font-weight-bolder">
                    <span class="fa fa-play icon-log text-warning" aria-hidden="true"></span>
                    <span class="text-capitalize">MovieMaster</span>
                </h5>
            </a>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="/" class="navbar-brand shadow-soft py-2 px-3 rounded border border-light">
                                <span class="fa fa-play icon-log text-warning" aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global" class="fa fa-times" data-toggle="collapse"
                                data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                title="close" aria-label="Toggle navigation"></a>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link font-weight-bold">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link font-weight-bold">Genre</a>
                    </li>
                    {{#if userLocation}}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown">
                            <span class="nav-link-inner-text font-weight-bold">Location</span>
                            <span class="fa fa-angle-down nav-link-arrow ml-2"></span>
                        </a>
                        <ul class="dropdown-menu shadow-soft">
                            <h5><a class="text-secondary text-truncate font-weight-bold mx-3"
                                    href="" id="userLocation">{{userLocation.place_name}}</a></h5>
                            <li><a class="dropdown-item" type="button" onclick="loadMap()"><i
                                        class="fa fa-location-arrow text-secondary mr-2"></i> Pick another
                                    location</a></li>
                        </ul>
                    </li>
                    {{/if}}
                    <li class="nav-item dropdown d-none d-lg-block">
                        <a href="#" class="nav-link" data-toggle="dropdown">
                            <div class="row">
                                <div class="pill rounded-circle p-1 shadow-inset">
                                    {{#if user.profilePic}}
                                    <img src="{{user.profilePic}}" class="profile_img rounded-circle">
                                    {{else}}
                                    <img src="/images/user/profile.png" class="profile_img rounded-circle">
                                    {{/if}}
                                </div>
                                <div class="my-auto">
                                    <span class="nav-link-inner-text font-weight-bold">Account</span>
                                    <span class="fa fa-angle-down nav-link-arrow ml-2"></span>
                                </div>
                            </div>
                        </a>
                        <ul class="dropdown-menu shadow-soft">
                            <h5 class="row px-3">
                                <div class="col my-auto">
                                    {{#if user}}
                                    <a class="text-secondary text-truncate font-weight-bold" href="">{{user.name}}</a>
                                    {{else}}
                                    <a class="text-secondary text-truncate font-weight-bold" href="">Account</a>
                                    {{/if}}
                                </div>
                            </h5>
                            {{#if user}}
                            <li>
                                <a class="dropdown-item" type="button" onclick="logout(event, '/logout')">
                                    <i class="fa fa-power-off text-secondary mr-2"></i>Logout
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/my-profile">
                                    <i class="fa fa-user text-secondary mr-2"></i>My Profile
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/my-orders">
                                    <i class="fa fa-ticket text-secondary mr-1"></i>My Tickets
                                </a>
                            </li>
                            {{else}}
                            <li>
                                <a class="dropdown-item" href="/login">
                                    <i class="fa fa-sign-in text-secondary mr-2"></i>Login
                                </a>
                            </li>
                            {{/if}}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <div class="search-right">
                            <a href="#search" class="btn btn-primary btn-sm font-weight-bold px-3" title="search">
                                Search <span class="fa fa-search ml-3" aria-hidden="true"></span>
                            </a>
                            <div id="search" class="pop-overlay">
                                <div class="popup">
                                    <form class="search-box" id="search-box">
                                        <input type="search" placeholder="Search your Keyword" name="searchQuery"
                                            id="searchQuery" onkeyup="searchProducts(event,this.value);" required="required" autofocus="" autocomplete="false">
                                        <button type="submit" class="btn btn-primary mx-2"><span class="fa fa-search"
                                                aria-hidden="true"></span></button>
                                        <div class="bg-white rounded mt-2 py-2" id="results-container" hidden
                                            style="max-height: 50vh; overflow-y: auto;"></div>
                                    </form>
                                </div>
                                <a class="close" href="#close">×</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="nav-item dropdown dropleft d-block d-lg-none ml-auto">
                <a href="#" class="nav-link" data-toggle="dropdown">
                    <div class="row">
                        <div class="pill rounded-circle p-1 shadow-inset">
                            {{#if user.profilePic}}
                            <img src="{{user.profilePic}}" class="profile_img rounded-circle">
                            {{else}}
                            <img src="/images/user/profile.png" class="profile_img rounded-circle">
                            {{/if}}
                        </div>
                        <div class="my-auto d-none d-md-block">
                            <span class="nav-link-inner-text font-weight-bold">Account</span>
                            <span class="fa fa-angle-down nav-link-arrow ml-2"></span>
                        </div>
                    </div>
                </a>
                <ul class="dropdown-menu shadow-soft">
                    <h5 class="row px-3">
                        <div class="col my-auto">
                            {{#if user}}
                            <a class="text-secondary text-truncate font-weight-bold" href="">{{user.name}}</a>
                            {{else}}
                            <a class="text-secondary text-truncate font-weight-bold" href="">Account</a>
                            {{/if}}
                        </div>
                    </h5>
                    {{#if user}}
                    <li>
                        <a class="dropdown-item" type="button" onclick="logout(event, '/logout')">
                            <i class="fa fa-power-off text-secondary mr-2"></i>Logout
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/my-profile">
                            <i class="fa fa-user text-secondary mr-2"></i>My Profile
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/my-orders">
                            <i class="fa fa-ticket text-secondary mr-1"></i>My Tickets
                        </a>
                    </li>
                    {{else}}
                    <li>
                        <a class="dropdown-item" href="/login">
                            <i class="fa fa-sign-in text-secondary mr-2"></i>Login
                        </a>
                    </li>
                    {{/if}}
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbar_global"
                    aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
</header>