<!-- header -->
<header id="site-header" class="w3l-header fixed-top">
    <!--/nav-->
    <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
        <div class="container">
            <h1><a class="navbar-brand" href="/"><span class="fa fa-play icon-log" aria-hidden="true"></span>
                    MovieMaster </a></h1>
            <!-- if logo is image enable this   
						<a class="navbar-brand" href="#index.html">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <span class="fa icon-expand fa-bars"></span>
                <span class="fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Genre</a>
                    </li>
                </ul>

                <!--/search-right-->
                <!--/search-right-->
                <div class="search-right">
                    <a href="#search" class="btn btn-sm search-hny mr-lg-3 mt-lg-0 mt-4" title="search">Search <span
                            class="fa fa-search ml-3" aria-hidden="true"></span></a>
                    <!-- search popup -->
                    <div id="search" class="pop-overlay">
                        <div class="popup">
                            <form class="search-box" id="search-box">
                                <input type="search" placeholder="Search your Keyword" name="searchQuery" id="searchQuery"
                                    onkeyup="searchProducts(event,this.value);" required="required" autofocus=""
                                    autocomplete="false">
                                <button type="submit" class="btn"><span class="fa fa-search"
                                        aria-hidden="true"></span></button>
                                <div class="bg-white rounded mt-2 py-2" id="results-container" hidden style="max-height: 50vh; overflow-y: auto;"></div>
                            </form>
                        </div>
                        <a class="close" href="#close">×</a>
                    </div>
                    <!-- /search popup -->
                    <!--/search-right-->
                </div>


            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position">
                <nav class="navigation">
                    <div class="profile_details">
                        <ul>
                            <li class="dropdown profile_details_drop">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3"
                                    aria-haspopup="true" aria-expanded="false">
                                    <div class="profile_img">
                                        {{#if user.profilePic}}
                                        <img src="{{user.profilePic}}" alt="" class="rounded-circle" width="1.2em"
                                            height="1.2em">
                                        {{else}}
                                        <img src="/images/user/profile.png" alt="" class="rounded-circle" width="1.2em"
                                            height="1.2em">
                                        {{/if}}
                                    </div>
                                </a>
                                <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                                    <li class="user-info">
                                        {{#if user}}
                                        <h5 class="user-name">{{user.name}}</h5>
                                        {{else}}
                                        <h5 class="user-name">Account</h5>
                                        {{/if}}
                                    </li>
                                    {{#if user}}
                                    <li class="logout"> <a type="button" onclick="logout(event, '/logout')"><i
                                                class="fa fa-power-off"></i> Logout</a> </li>
                                    {{else}}
                                    <li class="login"> <a href="/login"><i class="fa fa-sign-in"></i> Login</a> </li>
                                    {{/if}}
                                    <li class="logout"> <a href="/my-profile"><i
                                                class="fa fa-user"></i> My Profile</a> </li>
                                    <li class="logout"> <a href="/my-orders"><i
                                                class="fa fa-ticket"></i> My Orders</a> </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon mt-1"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </div>
    </nav>
    <!--//nav-->
</header>
<!-- //header -->