<section>
    <!-- main content start-->
    <div class="main-content">

        <!-- content -->
        <div class="container-fluid content-top-gap">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb my-breadcrumb">
                    <li class="breadcrumb-item"><a href="/theatre">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
            </nav>
            <div class="welcome-msg pt-3 pb-4">
                <h1>Hi <span class="text-success">{{theatre.ownerName}}</span>, Welcome back</h1>
                <p>Very detailed & featured Theatre Panel.</p>
            </div>

            <!-- statistics data -->
            <div class="statistics">
                <div class="row">
                    <div class="col-xl-6 pr-xl-2">
                        <div class="row">
                            <div class="col-sm-6 pr-sm-2 statistics-grid">
                                <div class="card card_border border-success-top p-4">
                                    <i class="lnr text-primary">No of Shows</i>
                                    <h3 class="text-primary number">{{totalShows}}</h3>
                                </div>
                            </div>
                            <div class="col-sm-6 pl-sm-2 statistics-grid">
                                <div class="card card_border border-success-top p-4">
                                    <i class="lnr text-secondary">No of Screens</i>
                                    <h3 class="text-secondary number">{{totalScreens}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 pl-xl-2">
                        <div class="row">
                            <div class="col-sm-6 pr-sm-2 statistics-grid">
                                <div class="card card_border border-success-top p-4">
                                    <i class="lnr text-success">No of Bookings</i>
                                    <h3 class="text-success number">{{totalBookings}}</h3>
                                </div>
                            </div>
                            <div class="col-sm-6 pl-sm-2 statistics-grid">
                                <div class="card card_border border-success-top p-4">
                                    <i class="lnr text-danger">Paid Bookings</i>
                                    <h3 class="text-danger number">{{paidBookings}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //statistics data -->

            <!-- accordions -->
            <div class="accordions">
                <div class="row">
                    <!-- accordion style 1 -->
                    <div class="col-lg-12 mb-4">
                        <div class="card card_border">
                            <div class="card-header chart-grid__header">
                                Theatre Details
                            </div>
                            <div class="card-body">
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header bg-white p-0" id="headingOne">
                                            <a href="#" class="card__title text-secondary p-3" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">Edit Details</a>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                            data-parent="#accordionExample">
                                            <div class="card-body para__style">
                                                <div class="row justify-content-center">
                                                    <div class="col-lg-2">
                                                        <div class="row">
                                                            <div class="col-12 text-center">
                                                                <img src="{{#if theatre.ownerPic}}/images/theatre/{{theatre._id}}.jpg{{else}}/images/theatre/theatre-logo.png{{/if}}"
                                                                    class="rounded-circle border border-success img-fluid p-2"
                                                                    id="profile-pic-wrapper" alt=""
                                                                    style="border-width: 5px !important;" />
                                                            </div>
                                                            <div class="col-12 text-center">
                                                                <div class="text-center pt-2">
                                                                    <button class="btn btn-success btn-sm rounded-pill"
                                                                        data-toggle="modal"
                                                                        data-target="#profile-picture-modal">Change</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal fade" id="profile-picture-modal"
                                                            data-backdrop="static" data-keyboard="false" tabindex="-1"
                                                            aria-labelledby="profile-picture-modalLabel"
                                                            aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title text-primary"
                                                                            id="profile-picture-modalLabel">
                                                                            Owner
                                                                        </h5>
                                                                        <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div
                                                                        class="modal-body text-center border-bottom mb-3">
                                                                        <img src="{{#if theatre.ownerPic}}/images/theatre/{{theatre._id}}.jpg{{else}}/images/theatre/theatre-logo.png{{/if}}"
                                                                            alt="" id="viewImage" class="img-fluid"
                                                                            width="50%">

                                                                        <form
                                                                            action="/theatre/update-owner-picture/{{theatre._id}}"
                                                                            method="POST" enctype="multipart/form-data">
                                                                            <div class="form-group text-center">
                                                                                <label for="">Upload new image</label>
                                                                                <br>
                                                                                <label
                                                                                    class="btn btn-light border border-secondary"
                                                                                    for="my-file-selector">
                                                                                    <input id="my-file-selector"
                                                                                        required type="file"
                                                                                        name="ownerPicture"
                                                                                        style="display:none"
                                                                                        onchange="loadImage(event);">
                                                                                    Choose Image
                                                                                </label>
                                                                            </div>
                                                                            <div class="row">
                                                                                {{#if theatre.ownerPic}}
                                                                                <a href="/theatre/remove-owner-picture/{{theatre._id}}"
                                                                                    type="button"
                                                                                    class="btn btn-danger mx-4"
                                                                                    onclick="return confirm('Are you sure you want to remove this profile picture?')">Remove</a>
                                                                                <button type="submit"
                                                                                    class="btn btn-primary mr-4 ml-auto">Upload</button>
                                                                                {{else}}
                                                                                <button type="submit"
                                                                                    class="btn btn-primary mr-4 ml-auto">Upload</button>
                                                                                {{/if}}
                                                                            </div>
                                                                    </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <button
                                                            class="btn btn-link text-decoration-none font-weight-bold float-right"
                                                            id="edit" onclick="editTheatreDetails(event);">Edit</button>
                                                        <button
                                                            class="btn btn-link text-decoration-none font-weight-bold float-right"
                                                            id="cancel" onclick="cancelEditTheatreDetails(event);"
                                                            hidden>Cancel</button>
                                                        <form action="/theatre/update-theatre-details" method="POST">
                                                            <div class="form-group">
                                                                <label for="ownerName">Owner Name</label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Owner Name" readonly
                                                                    value="{{theatre.ownerName}}" name="ownerName"
                                                                    id="ownerName">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="theatreName">Theatre Name</label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Owner Name" readonly
                                                                    value="{{theatre.theatreName}}" name="theatreName"
                                                                    id="theatreName">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="email">Email address</label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Email" readonly
                                                                    value="{{theatre.email}}" name="email" id="email">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="phoneNumber">Phone Number</label>
                                                                <input type="tel" class="form-control" readonly
                                                                    value="{{theatre.phoneNumber}}" name="phoneNumber"
                                                                    id="phoneNumber">
                                                            </div>
                                                            <div class="text-right">
                                                                <button type="submit"
                                                                    class="btn btn-success rounded-pill btn-sm px-5"
                                                                    id="save" hidden>Save</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header bg-white p-0" id="headingTwo">
                                            <a type="button" class="card__title text-secondary p-3"
                                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">Manage Location</a>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                            data-parent="#accordionExample">
                                            <div class="card-body para__style">
                                                <div class="row justify-content-center">
                                                    <div class="col-md-8">
                                                        <div class="row">
                                                            <div class="col md-6">
                                                                <div id="locationPicker" class="card_shadow"
                                                                    style="width: 400px; height: 300px;"></div>
                                                            </div>
                                                            <div class="col md-6">
                                                                <form class="mt-3" action="/theatre/update-location"
                                                                    method="POST">
                                                                    <div class="form-group">
                                                                        <label for="longitude">Longitude</label>
                                                                        <input type="text" name="longitude"
                                                                            value="{{theatre.location.longitude}}"
                                                                            class="form-control bg-white" id="longitude"
                                                                            readonly required>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="latitude">Latitude</label>
                                                                        <input type="text" name="latitude"
                                                                            value="{{theatre.location.latitude}}"
                                                                            class="form-control bg-white" id="latitude"
                                                                            readonly required>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="place">Place</label>
                                                                        <input type="text" name="place_name"
                                                                            value="{{theatre.location.place_name}}"
                                                                            class="form-control bg-white" id="place"
                                                                            readonly required>
                                                                    </div>
                                                                    <div class="text-center">
                                                                        <button type="submit"
                                                                            class="btn btn-success rounded-pill btn-sm px-5">Submit</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header bg-white p-0" id="headingTwo">
                                            <a href="#" class="card__title text-secondary p-3" data-toggle="collapse"
                                                data-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">Change Password</a>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingTwo"
                                            data-parent="#accordionExample">
                                            <div class="card-body para__style">
                                                <div class="row justify-content-center">
                                                    <div class="col-md-6">
                                                        <form action="/theatre/change-password" method="POST">
                                                            <div class="form-group">
                                                                <label for="exampleInputPassword">Current
                                                                    Password</label>
                                                                <input type="password" class="form-control"
                                                                    name="password" id="exampleInputPassword">
                                                                <div class="form-group">
                                                                    <label for="exampleInputPassword1">New
                                                                        Password</label>
                                                                    <input type="password" class="form-control"
                                                                        name="newPassword" id="exampleInputPassword1">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="exampleInputPassword2">Confirm
                                                                        Password</label>
                                                                    <input type="password" class="form-control"
                                                                        name="confirmPassword"
                                                                        id="exampleInputPassword2">
                                                                </div>
                                                                <div class="text-center">
                                                                    <button type="submit"
                                                                        class="btn btn-success btn-sm rounded-pill px-5">Change
                                                                        Password</button>
                                                                </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //accordion style 1 -->
                </div>
            </div>
            <!-- //accordions -->

        </div>
        <!-- //content -->
    </div>
    <!-- main content end-->
</section>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoidmlzaG51Y3ByYXNhZCIsImEiOiJja2V3NzAxYnIyNWtrMnhtcmN2dG43Ynd3In0.PjtuWzKhZ2IOs-2rjNCcXQ';

    const map = new mapboxgl.Map({
        container: 'locationPicker',
        style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
        center: [76.78, 9.54], // starting position [lng, lat]
        zoom: 6 // starting zoom
    });

    const lng = document.getElementById('longitude').value
    const lat = document.getElementById('latitude').value

    if (lng && lat) {
        const marker = new mapboxgl.Marker()
            .setLngLat([lng, lat])
            .addTo(map);
    }

    map.on('load', function () {
        map.resize();
    });

    map.addControl(
        new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl
        })
    );

    map.on('click', function (e) {
        const url = `https://api.mapbox.com/geocoding/v5/mapbox.places/${e.lngLat.wrap().lng},${e.lngLat.wrap().lat}.json?access_token=${mapboxgl.accessToken}`

        $.ajax({
            url,
            method: 'get',
            success: (response) => {
                if (map.getLayer('start')) {
                    map.getSource('start').setData(start);
                } else {
                    map.addLayer({
                        id: 'start',
                        type: 'circle',
                        source: {
                            type: 'geojson',
                            data: {
                                type: 'FeatureCollection',
                                features: [{
                                    type: 'Feature',
                                    properties: {},
                                    geometry: {
                                        type: 'Point',
                                        coordinates: [e.lngLat.wrap().lng, e.lngLat.wrap().lat]
                                    }
                                }]
                            }
                        },
                        paint: {
                            'circle-radius': 10,
                            'circle-color': '#f30'
                        }
                    });
                }

                document.getElementById('place').value = response.features[1].place_name;
                document.getElementById('longitude').value = e.lngLat.wrap().lng;
                document.getElementById('latitude').value = e.lngLat.wrap().lat;
            }
        });

    })
</script>