<section>
    <!-- main content start -->
    <div class="main-content">

        <!-- content -->
        <div class="container-fluid content-top-gap">

            <!-- breadcrumbs -->
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb my-breadcrumb">
                    <li class="breadcrumb-item"><a href="/theatre">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Shows</li>
                </ol>
            </nav>
            <!-- //breadcrumbs -->

            <section class="pricing">
                <div class="card card_border mb-5">
                    <div class="cards__heading">
                        <h3>Edit Show Details</h3>
                    </div>
                    <div class="card-body">
                        <div class="px-2 mb-4">
                            <div class="row justify-content-center">
                                <div class="col-md-8">
                                    <form action="/theatre/edit-show" method="POST" enctype="multipart/form-data">
                                        <div class="form-group row" hidden>
                                            <div class="col-md-3 text-md-right">
                                                <label for="showId">Show ID</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" name="showId" value="{{show.0._id}}"
                                                    class="form-control" required id="showId">
                                            </div>
                                        </div>
                                        <div class="form-group row" hidden>
                                            <div class="col-md-3 text-md-right">
                                                <label for="screenId">Screen ID</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" name="screenId" value="{{show.0.screen}}"
                                                    class="form-control" required id="screenId">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3 text-md-right">
                                                <label for="movie">Select Movie</label>
                                            </div>
                                            <div class="col-md-9">
                                                <select class="form-control" id="movie" name="movie" required>
                                                    <option value="{{show.0.movieDetails.0._id}}">{{show.0.movieDetails.0.movieTitle}}</option>
                                                    {{#each movies}}
                                                    <option value="{{this._id}}">{{this.movieTitle}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3 text-md-right">
                                                <label for="date">Date</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="date" name="date" value="{{show.0.date}}"
                                                    class="form-control" required id="date">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3 text-md-right">
                                                <label for="showTime">Show Time</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="time" name="showTime" value="{{show.0.showTime}}" class="form-control" required id="showTime">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-9 my-4 text-center">
                                                <h5 class="text-secondary text-uppercase font-weight-bold">Class Rates
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3 text-md-right">
                                                <label for="vip">VIP</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" name="vip" value="{{show.0.vip}}" class="form-control"
                                                    required id="vip">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3 text-md-right">
                                                <label for="premium">Premium</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" name="premium" value="{{show.0.premium}}"
                                                    class="form-control" required id="premium">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3 text-md-right">
                                                <label for="executive">Executive</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" name="executive" value="{{show.0.executive}}"
                                                    class="form-control" required id="executive">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3 text-md-right">
                                                <label for="normal">Normal</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" name="normal" value="{{show.0.normal}}"
                                                    class="form-control" required id="normal">
                                            </div>
                                        </div>
                                        <button type="submit"
                                            class="btn btn-success float-right rounded-pill px-5">Submit</button>
                                        <a href="/theatre/view-schedule" type="submit"
                                            class="btn btn-danger float-right rounded-pill px-5 mr-3">Cancel</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- //content -->

    </div>
    <!-- main content end-->
</section>