<section>
    <!-- main content start -->
    <div class="main-content">

        <!-- content -->
        <div class="container-fluid content-top-gap">

            <!-- breadcrumbs -->
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb my-breadcrumb">
                    <li class="breadcrumb-item"><a href="/theatre">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Upcoming Movies</li>
                </ol>
            </nav>
            <!-- //breadcrumbs -->

            <section class="pricing">
                <div class="card card_border mb-5">
                    <div class="cards__heading">
                        <div class="row mx-1">
                            <h3>Upcoming Movies</h3>
                            <a href="/theatre/add-upcoming-movies" class="btn btn-success rounded-pill px-5 ml-auto">Add Movies</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table border table-responsive-sm" id="data-table">
                            <thead class="bg-success text-white">
                                <tr>
                                    <th scope="col">Sr.No</th>
                                    <th scope="col">Movie Name</th>
                                    <th scope="col">Release Date</th>
                                    <th scope="col">Run Time</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each movies}}
                                <tr id="{{this._id}}">
                                    <th scope="row" class="serialNumber"></th>
                                    <td>{{this.movieTitle}}</td>
                                    <td>{{this.releaseDate}}</td>
                                    <td>{{this.runTime}}</td>
                                    <td>
                                        <a href="/theatre/edit-upcoming-movie/{{this._id}}"
                                            class="btn btn-primary btn-sm rounded-pill text-uppercase px-3">Edit</a>
                                        <button class="btn btn-danger btn-sm rounded-pill text-uppercase px-3"
                                            data-toggle="modal" data-target="#deleteModal{{this._id}}">Delete</button>
                                    </td>
                                </tr>
                                <!-- Modal -->
                                <div class="modal fade" id="deleteModal{{this._id}}" tabindex="-1" role="dialog"
                                    data-backdrop="static" aria-labelledby="deleteModal{{this._id}}Title"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body text-center text-uppercase p-5">
                                                <h6 class="font-weight-bold">Are you sure you want to delete
                                                    {{this.movieTitle}} ?</h6>
                                                <div class="row mt-5">
                                                    <button type="button"
                                                        class="btn btn-success btn-sm rounded-pill px-5"
                                                        data-dismiss="modal">CANCEL</button>
                                                    <button type="button"
                                                        class="btn btn-danger btn-sm rounded-pill px-5 ml-auto"
                                                        onclick="deleteItem(event, '{{this._id}}', '/theatre/delete-upcoming-movie')">DELETE</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

        </div>
        <!-- //content -->

    </div>
    <!-- main content end-->
</section>