<div class="row my-5">
    <div class="col-md-8">
        <div class="container">
            <div class="w3l-main-slider position-relative">
                <div class="companies20-content">
                    <div class="item">
                        <li>
                            {{#with show.0.movieDetails}}
                            <div class="slider-info banner-view bg bg2 rounded"
                                style="background: url(/images/movies/posters/{{0._id}}.jpg) no-repeat center; background-size: cover; border-radius: 0;">
                                <div class="banner-info">
                                    <p class="text-truncate mb-3">
                                        <span class="bg-warning font-weight-bold text-truncate rounded px-3 py-1">
                                            {{0.type}}
                                        </span>
                                        <span class="bg-info font-weight-bold text-truncate rounded ml-3 px-3 py-1">
                                            {{0.language}}
                                        </span>
                                    </p>
                                    <h3>{{0.movieTitle}}</h3>
                                    <p class="text-truncate mb-0  mt-1"><span class="font-weight-bold">Cast :
                                        </span>{{0.cast}}</p>
                                    <p class="text-truncate mb-0  mt-1"><span class="font-weight-bold">Director :
                                        </span>{{0.director}}</p>
                                    <p class="text-truncate mb-0  mt-1"><span class="font-weight-bold">Run Time :
                                        </span>{{0.runTime}}</p>
                                    <p class="text-truncate mt-1"><span class="font-weight-bold">Release Date :
                                        </span>{{0.releaseDate}}</p>
                                    <a href="#small-dialog{{0._id}}" class="popup-with-zoom-anim play-view1">
                                        <span class="video-play-icon">
                                            <span class="fa fa-play"></span>
                                        </span>
                                        <h6>Watch Trailer</h6>
                                    </a>
                                    <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                    <div id="small-dialog{{0._id}}" class="zoom-anim-dialog mfp-hide small-dialog">
                                        <iframe width="560" height="315" src="{{0.trailerLink}}" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            {{/with}}
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="w3l-grids">
            <div class="grids-main py-5">
                <div class="container py-lg-3">
                    <div class="card_shadow rounded">
                        <div class="p-4">
                            <div class="header">
                                <h6 class="text-primary text-uppercase" style="letter-spacing: 3px;">Booking Summary
                                </h6>
                            </div>
                            <div class="card-body border-bottom p-0 mt-4">
                                <div>
                                    <h6 class="text-dark">{{show.0.movieDetails.0.movieTitle}}</h6>
                                    <div class="my-3">
                                        <p>{{show.0.movieDetails.0.type}}</p>
                                        <p>{{show.0.movieDetails.0.language}}</p>
                                    </div>
                                </div>
                                <div class="row px-3 pb-3">
                                    <h6 class="text-secondary text-uppercase mx-auto">
                                        {{show.0.theatreDetails.0.theatreName}}</h6>
                                </div>
                                <div class="row px-3 pb-3">
                                    <h6 class="text-dark">{{show.0.screenName}}
                                        <span class="font-weight-normal text-dark">({{checkoutDetails.numberOfSeats}}
                                            Seats)</span>
                                    </h6>
                                    <h6 class="ml-auto text-dark">Rs.{{checkoutDetails.totalAmount}}</h6>
                                </div>
                                <div class="row px-3 pb-3">
                                    <h6 class="text-dark">Seats</h6>
                                    <h6 class="ml-auto text-dark" style="overflow-x: auto;">{{checkoutDetails.seats}}
                                    </h6>
                                </div>
                                <div class="row px-3 pb-3">
                                    <h6 class="text-dark">Date</h6>
                                    <h6 class="ml-auto text-dark" style="overflow-x: auto;">{{show.0.date}}
                                    </h6>
                                </div>
                                <div class="row px-3 pb-3">
                                    <h6 class="text-dark">Time</h6>
                                    <h6 class="ml-auto text-dark" style="overflow-x: auto;">{{show.0.showTime}}
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-secondary py-3 px-4">
                            <div class="row px-3">
                                <h6 class="text-white">Amount Payable</h6>
                                <h6 class="ml-auto text-white">Rs.{{checkoutDetails.totalAmount}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <h6 class="text-center mb-5">Payment Options</h6>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="" class="btn btn-warning btn-paypal rounded px-5 py-1">
                                    <img src="/assets/images/Paypal.png" style="width: 100%;" alt="">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="" class="btn btn-warning btn-razorpay rounded px-5 py-1">
                                    <img src="/assets/images/Razorpay.png" style="width: 100%;" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>