{{#if orders}}
<section>
    <div class="container my-5 pt-5">
        <div>
            <div class="card-body">
                <div class="headerhny-title">
                    <div class="w3l-title-grids">
                        <div class="headerhny-left">
                            <h3 class="hny-title">My Orders</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{#each orders}}
                    <div class="col-lg-4 col-md-6">
                        <a href="/view-order?orderId={{this._id}}" class="text-info">
                            <div class="card_shadow pill_enlarge-lg mb-3 rounded">
                                <div class="text-white" style="background-color: #ababab;">
                                    <p class="text-center">{{this.orderDate}}</p>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img src="/images/movies/posters/{{this.movieDetails._id}}.jpg" class="card-img"
                                            style="height: 100%; object-fit: cover;">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body p-0">
                                            <h6 class="card-title text-truncate bg-info text-white text-center mb-1 py-1">
                                                {{this.movieDetails.movieTitle}}</h6>
                                            <div class="px-3 py-1">
                                                <p class="card-text text-primary text-truncate mb-2">
                                                    {{this.theatreDetails.theatreName}} |
                                                    {{this.showDetails.screenName}}</p>
                                                <p class="text-truncate"><span class="font-weight-bold">Seats
                                                        :
                                                    </span>{{this.seats}}</p>
                                                <p class="text-truncate"><span class="font-weight-bold">Total
                                                        Amount :
                                                    </span>Rs.{{this.totalAmount}}</p>
                                            </div>
                                            <p class="{{#IF this.status '==' 'booked'}}bg-secondary{{else}}bg-danger{{/IF}}
                                                text-center text-white text-truncate"><span
                                                    class="font-weight-bold"></span>{{this.paymentMethod}} <span
                                                    class="text-capitalize small">( {{this.status}} )</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>
{{else}}
<section>
    <div class="container my-5 pt-5">
        <div class="card_shadow">
            <div class="card-body">
                <div class="text-center">
                    <img src="/assets/images/MovieMaster-not-found.png" class="img-fluid" style="width: 15rem;">
                    <h3 class="font-weight-normal my-3">No orders found</h3>
                    <h6>Book Now</h6>
                    <a href="/now-showing-movies" class="btn btn-primary rounded-pill mt-3 px-5">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{/if}}