<section class="w3l-grids mt-5">
    <div class="grids-main py-5">
        <div class="container py-lg-3">
            <div class="headerhny-title">
                <div class="w3l-title-grids">
                    <div class="headerhny-left">
                        <h3 class="hny-title">Now Showing Movies</h3>
                    </div>
                </div>
            </div>
            <div class="w3l-populohny-grids">
                {{#each nowShowingMovies}}
                <a href="/view-movie?movieId={{this._id}}" class="animate-up-8">
                    <div class="item vhny-grid shadow-soft">
                        <div class="box16">
                            <figure>
                                <img class="rounded" src="/images/movies/posters/{{this._id}}.jpg"
                                    style="height: 25rem; object-fit: cover !important;">
                            </figure>
                            <div class="box-content">
                                <h3 class="title">{{this.movieTitle}}</h3>
                                <h4>
                                    <span class="post"><span class="fa fa-clock-o"> Run Time : </span>
                                        {{this.runTime}}</span>
                                </h4>
                                <h4>
                                    <span
                                        class="post bg-warning text-dark font-weight-bold text-truncate rounded px-3">{{this.type}}</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                </a>
                {{/each}}
            </div>
        </div>
    </div>
</section>